{
    "openapi": "3.0.0",
    "info": {
        "title": "MUD Sql Indexer API",
        "version": "1.0.0",
        "description": "MUD Sql Indexer API"
    },
    "servers": [
        {
            "url": "https://indexer.mud.garnetchain.com",
            "description": "Garnet indexer"
        },
        {
            "url": "https://indexer.mud.redstonechain.com",
            "description": "Redstone indexer"
        }
    ],
    "paths": {
        "/q": {
            "post": {
                "summary": "Query the MUD database.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "address": {
                                            "type": "string",
                                            "description": "The world address to query."
                                        },
                                        "query": {
                                            "type": "string",
                                            "description": "The SQL query to execute."
                                        }
                                    },
                                    "required": [
                                        "address",
                                        "query"
                                    ]
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful query",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "block_height": {
                                            "type": "integer",
                                            "description": "Latest indexed block."
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "array",
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "block_height",
                                        "result"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "description": "Error message describing the error"
                                        }
                                    },
                                    "required": [
                                        "msg"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}